.input__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  position: relative;
}

.input__label {
  position: absolute;
  top: 9px;
  left: 10px;
  margin: 4px 0;
  font-size: 14px;
  color: rgb(184, 184, 184);
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.input__label.active-label {
  top: 2px;
  left: -5px;
  transform: translateY(-120%) scale(0.8);
  color: var(--main-color);
  font-weight: bold;
}

.input__item {
  width: 180px;
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  background-color: transparent;
  color: white;

  @media screen and (min-width: 500px) {
    width: 300px;
  }
}

.input__item:focus {
  border: 1px solid rgb(122, 122, 122);
  outline: none;
}

.error-message {
  position: absolute;
  top: 45px;
  left: 0;
  text-align: left;
  color: rgb(255, 137, 137);
}
