.not-found {
  height: 500px;
  max-width: 940px;
  padding: 20px;
  display: flex;
  margin: 50px auto 0;
  flex-direction: column-reverse;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  img {
    border-radius: 8px;
    width: 100%;
    margin: 0px;
    height: 400px;
    object-fit: cover;
    object-position: left;

    @media screen and (min-width: 800px) {
      margin: 0;
      width: 92%;
      margin: 0px auto;
    }
  }

  &__copy {
    position: static;
    font-size: 1.2rem;

    h1 {
      margin: 15px 0;
    }

    h2 {
      margin: 5px 0;
    }

    .not-found__button {
      margin: 10px 0;
    }

    @media screen and (min-width: 800px) {
      position: absolute;
      top: 150px;
      right: 120px;
      font-size: 1.6rem;

      h1 {
        margin-top: 0;
        margin-bottom: 50px;
      }

      h2 {
        margin: 40px 0;
      }

      .not-found__button {
        margin: 20px 0;
      }
    }
  }
}
