#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-width: 280px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  padding: 50px 0;
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid gray;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(10px);
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 0 30px;
}

legend {
  margin: 20px 0;
  font-size: 2rem;
}

.client-error {
  color: red;
  padding: 10px 30px;
  margin: 40px 0 0;
  border: 1px solid rgb(255, 134, 134);
  font-size: 1.4rem;
  background-color: var(--error-color);
}
